<!DOCTYPE html>
<html>

<head>

    <title>Blood Donor Finder</title>

    <link rel="stylesheet"
          href="/style.css">

</head>

<body>

<div class="box">

    <h1>🩸 Blood Donor Finder</h1>

    <p>
        Find the right blood donor when you need one.
    </p>

    <a href="/login">
        <button>User Login</button>
    </a>

    <a href="/register">
        <button>Create Account</button>
    </a>

    <a href="/admin">
        <button>Admin Login</button>
    </a>

</div>

</body>

</html>